{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Voicemail', '', 'envelope', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Voicemails', 'envelope') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>Name</th>
          <th>Number</th>
          <th>Email</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(voicemail) build_list_table_rows(resource_list['items']) %}
          <td>{{ voicemail.name }}</td>
          <td>{{ voicemail.number }}</td>
          <td>{{ voicemail.email or '-' }}</td>
          <td>
            {{ add_edit_button(href=url_for('.VoicemailView:get', id=voicemail.id)) }}
            {{ add_delete_button(href=url_for('.VoicemailView:delete', id=voicemail.id)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Voicemail') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
          {{ render_field(form.number) }}
          {{ render_field(form.password) }}
          {{ render_field(form.email) }}
          {{ render_field(form.language) }}
          {{ render_field(form.timezone) }}
          {{ render_field(form.users) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}

{% block additional_js %}
  {% set list_url = url_for('destination.UserDestinationView:uuid_list_json') %}
  <script>
    $(document).ready(function() {
      create_default_select2('{{ list_url }}');
    });
  </script>
{% endblock %}
