recursive-include wazo_plugind_admin_ui_voicemail_official/templates *
recursive-include wazo_plugind_admin_ui_voicemail_official/static *
recursive-include wazo_plugind_admin_ui_voicemail_official/translations *
